<!DOCTYPE html>

<html>
    <head>
        <%- include('../../layout/head') %>
    </head>
    <body>
        <h1>Book Detail View</h1>
        <p><a href="/">Home</a></p>
        <ul>
            <li>
                <section>
                 </section>

            </li>
        </ul>

    </body>
</html>