<!DOCTYPE html>

<html>
    <head></head>
    <body>
        <h1>Book Google Result</h1>
        <p><a href="/">Home</a></p>
        <ul>
            <% bookList.forEach( book => { %>
                <li><%=book.title %></li>
                <li><%=book.author %></li>
                <li><%=book.img_url %></li>
                <li><%=book.year_published %></li>
            <% }) %>
        </ul>
    </body>
</html>